@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Home</h1>
<img src="~/Content/img/123.jpg" class="img-left" />
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras porttitor est vel est rutrum, nec pretium tellus ultricies. Donec dictum ultricies lobortis. Phasellus euismod maximus odio vulputate mattis. Sed at pellentesque purus. Donec tristique euismod cursus. Proin tempor tempor eros, eu gravida ex vestibulum id. Sed ut orci luctus, varius mauris vitae, fermentum ante. Aenean dui enim, ultricies ac libero eu, commodo posuere arcu. Aliquam erat volutpat. Nunc lobortis diam quis metus ultrices congue.
</p>
<p>
    Nunc tincidunt massa sed porttitor egestas. Donec non leo maximus, commodo nibh id, dignissim urna. Suspendisse luctus vel tellus vel hendrerit. Nam sodales ultricies odio at consequat. Nulla vel turpis ornare, imperdiet quam nec, aliquet est. In hac habitasse platea dictumst. Cras posuere, est eget rutrum congue, arcu lectus facilisis diam, ut mollis nisl ex sit amet mauris. Donec bibendum velit ante, et viverra est cursus nec. Phasellus ac risus quis orci lacinia malesuada nec at quam. Duis tristique massa et ultrices faucibus.
</p>
<p>
    Cras metus magna, ornare et pellentesque vitae, tincidunt nec metus. Etiam efficitur sollicitudin tempus. Morbi auctor, est non ornare vehicula, nunc lorem venenatis augue, eu accumsan ex velit a risus. Duis non finibus enim. Etiam malesuada dolor eget venenatis laoreet. Cras a mi ac ex feugiat finibus. Praesent cursus laoreet ligula porta tincidunt.
</p>
<p>
    Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Quisque velit justo, feugiat quis eleifend lacinia, pharetra eu dui. Proin tempor rhoncus eros sed tempus. Pellentesque imperdiet id mi ut accumsan. Fusce dignissim vehicula urna id rhoncus. Suspendisse potenti. Maecenas a vehicula ipsum, eget efficitur leo. Praesent hendrerit enim libero, nec ornare ante ullamcorper ac. Aliquam magna nisl, tempus eget gravida in, vehicula sollicitudin diam. Integer dignissim mollis quam, ac fermentum nisl ultrices sed. Praesent vestibulum, quam vel luctus dignissim, ligula felis cursus ligula, imperdiet congue mi enim ac quam. Mauris placerat leo ac leo dignissim, eu tempor dolor fermentum. Integer congue est nulla, a luctus urna bibendum rutrum. Nunc laoreet turpis at metus iaculis scelerisque. Maecenas tristique neque in tellus ornare dictum.
</p>
<p>
    Aenean eu neque tempor, fringilla risus eu, gravida tortor. Vestibulum ultrices id ante et eleifend. Integer posuere, mi quis ultricies hendrerit, velit mauris euismod orci, et dictum elit urna et nibh. Aliquam odio neque, fringilla nec bibendum quis, mollis in urna. Suspendisse potenti. Vivamus feugiat bibendum tempor. Vestibulum efficitur nulla sit amet auctor lobortis. Vivamus ipsum nisi, consectetur sit amet ante tristique, sollicitudin efficitur nibh.
</p>