@{
    ViewBag.Title = "Registration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Registration</h1>
<img src="~/Content/img/123.jpg" class="img-left" />
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut quis fermentum nisi. Phasellus vehicula leo at neque porta tincidunt. Nulla vel vulputate nunc. Mauris ut neque consequat, feugiat neque vitae, convallis ipsum. Sed eget egestas sem, id malesuada ipsum. Proin quis dolor porta, dignissim nisi non, laoreet enim. Donec libero velit, condimentum at augue et, fringilla mattis turpis. Integer eros augue, laoreet sed nisi in, faucibus semper justo. In id dolor volutpat, rutrum massa id, tempus velit. Quisque et neque est. Nunc blandit molestie nulla, at semper enim pellentesque non. Mauris id massa libero. Proin auctor efficitur nunc, ut ornare tortor scelerisque non. Vestibulum nibh nulla, auctor sed pharetra in, rhoncus a elit.
</p>
<p>
    Curabitur lobortis lectus vitae interdum vestibulum. Nam maximus mi sed diam aliquam, et faucibus tortor rutrum. Sed eget ipsum molestie magna feugiat vestibulum. Suspendisse condimentum id purus nec ultricies. Donec vel malesuada lorem, a posuere felis. Nullam efficitur posuere finibus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Praesent aliquet efficitur egestas.
</p>
<p>
    Donec vitae nisl pulvinar, mattis ante nec, mollis magna. Phasellus quis nulla aliquet, efficitur lectus at, tempor libero. Maecenas eget gravida urna, vel euismod sapien. Maecenas ullamcorper nunc id metus suscipit sollicitudin. Maecenas nunc mauris, volutpat non condimentum eget, eleifend a tellus. Nam diam nisi, ultricies et pellentesque ac, fringilla sed ante. Quisque eu dui finibus lacus convallis consectetur at in turpis. Donec finibus dictum felis sed interdum. Maecenas auctor risus a velit viverra, a condimentum purus porttitor. Maecenas eu massa lectus. Aenean ipsum ligula, placerat id nibh in, interdum maximus ligula. Nulla suscipit cursus consequat. Duis bibendum aliquet aliquet. Vivamus sed varius dui, vel posuere mi.
</p>
<p>
    Sed hendrerit tellus eget lorem blandit, vulputate commodo massa molestie. Cras id dapibus erat. Pellentesque auctor dapibus libero, sit amet feugiat purus sodales sed. Nullam efficitur magna tellus, eu pulvinar libero sagittis nec. Aliquam erat volutpat. Duis eleifend, neque ut rutrum vehicula, sem nisi pretium turpis, at hendrerit lorem ex sed erat. Pellentesque facilisis vitae eros sit amet venenatis.
</p>