@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Contact</h1>
<img src="~/Content/img/123.jpg" class="img-left" />
<p>
    Phasellus a tincidunt justo. Nam at elit sed ipsum efficitur rhoncus. Curabitur posuere dui eget lorem aliquam commodo ac a purus. Maecenas elementum lobortis metus, quis tempus leo pharetra a. Suspendisse cursus pretium libero, et tristique est vehicula non. Ut et magna elementum, vulputate nibh non, eleifend nibh. Vestibulum posuere, ante eget rhoncus efficitur, elit tortor tristique mauris, vel elementum ex enim vitae lorem. Ut porta ligula a eros hendrerit, ac venenatis nibh ornare. Vestibulum vel ex ultrices elit condimentum volutpat. Praesent ullamcorper, sem vel lobortis convallis, est lectus volutpat erat, rutrum mattis magna libero nec nisl. Proin faucibus erat eu dictum facilisis.
</p>