
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/css/style.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-2.1.1.min.js"></script>
</head>
<body>
    <section id="container">
        <header>
            <div id="logo">   </div>
            <div id="social-media">
                <a href="https://www.facebook.com/" target="_blank">
                    <div class="social">

                        <img src="~/Content/img/fb.png" alt="facebook" />

                    </div>
                </a>
                <a href="https://plus.google.com/" target="_blank">
                    <div class="social">
                        <img src="~/Content/img/google.png" alt="google plus" />
                    </div>
                </a>
            </div>
        </header>
        <nav>
            <a href="/">
                <div class="nav-item">
                    <span>Home</span>
                </div>

            </a>
            <a href="/haqqimizda">
                <div class="nav-item">
                    <span>About</span>
                </div>
            </a>
            <a href="/references">
                <div class="nav-item">
                    <span>Portfolio</span>
                </div>
            </a>
            <a href="/qeydiyyat">
                <div class="nav-item">
                    <span>Registration</span>
                </div>
            </a>
            <a href="/elaqe">
                <div class="nav-item" style="width:192px;border-right:0;">
                    <span>Contact</span>
                </div>
            </a>
        </nav>
        <div id="nav-mobile">
            <div class="nav-mobile">
                <div class="nav-mobile-button menu">
                    <img src="~/Content/img/nav-logo.png"alt="menu logo" class="nav-mobile-menu-logo" />
                    <div class="nav-mobile-menu-text">Menu</div>
                </div>
                <div class="menu-items">
                    <div class="nav-mobile-button">Home</div>
                    <div class="nav-mobile-button">About</div>
                    <div class="nav-mobile-button">Portfolio</div>
                    <div class="nav-mobile-button">Registration</div>
                    <div class="nav-mobile-button nav-mobile-button-last" >Contact</div>
                </div>
            </div>
        </div>
        <script>
            $(document).ready(function () {
                $('.menu').click(function () {

                    $('.menu-items').toggle(700);

                })


            });
        </script>
        <section id="content">@RenderBody()</section>
        <footer>
            <small>2014 &copy;Ismayil Huseynov</small>
        </footer>

    </section>

</body>
</html>
