@{
    ViewBag.Title = "Portfolio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Portfolio</h1>
<img src="~/Content/img/123.jpg" class="img-left" />
<p>
    Nullam viverra quis orci quis elementum. Quisque dolor sapien, ultricies sed tristique at, dictum id purus. Duis iaculis malesuada sapien, ut dapibus odio interdum sit amet. Nullam nec pharetra mauris. Vivamus cursus nulla ante, vel suscipit felis sollicitudin sed. Aliquam elementum, enim id porta fermentum, dui velit pellentesque tortor, at euismod dui odio vitae ex. Vivamus egestas semper convallis. Vivamus et velit ut odio imperdiet mollis. In bibendum non sem a suscipit. Phasellus congue diam at nisl congue, id fringilla orci suscipit.
</p>
<p>
    Duis sit amet finibus ante, non hendrerit lectus. Nulla in tincidunt augue. Morbi fermentum, justo a porta tincidunt, leo lacus auctor sapien, at ultrices erat lacus non sapien. Nam consectetur posuere sem vitae semper. Ut facilisis risus in risus ullamcorper, vel malesuada nisi tempus. Mauris vulputate vulputate mi in porttitor. Praesent ullamcorper tellus odio, a commodo arcu rutrum sit amet. Curabitur pharetra, nunc accumsan dictum fringilla, metus metus porta lorem, a vestibulum velit leo ac augue. Fusce imperdiet blandit metus, in aliquam turpis faucibus sit amet. Maecenas sodales odio odio. Sed non fringilla eros.
</p>
<p>
    Suspendisse in ligula lobortis, aliquet mauris ultricies, mattis libero. Nunc elit ante, varius ut ultricies in, ultricies non est. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Maecenas et lobortis lorem. Sed consectetur magna ipsum, id placerat sapien molestie quis. Morbi ac tincidunt libero. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Ut at lorem ut est cursus malesuada in vel ligula. Donec tincidunt sed enim sed feugiat. Pellentesque egestas viverra arcu non rhoncus. Suspendisse potenti. Proin sollicitudin ultrices nunc sit amet placerat. Aliquam id neque blandit turpis pretium consectetur.
</p>